.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  border-radius: 8px;

  font-family: var(--font-primary);

  transition: 0.8s;

  &.btn__insertValue {
    padding: 0 1rem;
    height: 3rem;

    font-weight: 600;
    font-size: 1rem;

    color: var(--color-gray);
    background-color: var(--color-primary-1);
  }

  &.btn__deleteValue {
    padding: 0 1.5rem;
    height: 1.1875rem;

    font-size: 0.625rem;
    font-weight: 400;

    background-color: var(--color-gray-2);
    color: var(--color-gray-4);
  }

  &.btn__full {
    width: 100%;
  }

  &:hover {
    filter: brightness(1.5);
  }
}
