:root {
  --color-primary-1: #fd377e;
  --color-primary-2: #e34981;
  --color-secondary: #03b898;
  --color-gray: #f8f9fa;
  --color-gray-2: #d3d6da;
  --color-gray-3: #868e96;
  --color-gray-4: #212529;

  --font-primary: "Nunito", sans-serif;
}
