.formBox {
  padding: 1.875rem 1.25rem;

  input {
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  p {
    position: absolute;
    top: 14.75rem;
  }

  @media screen and (max-width: 55.625rem) {
    p {
      position: static;
      margin-bottom: 1.25rem;
    }
  }
}
